.container {
  width: 40%;
  background-color: #fff;
  padding: 0px 2rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.gr--btn {
  margin: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.btn {
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 0px;
}
.btn:hover {
  background-color: #f0e5e5;
  border: 0px;
}
